.question {
    border: 2px solid yellow;
    margin-top: 3px;
    margin-bottom: 3px;
}

body {
    background-color: black;
}

h1 {
    color: yellow;
}

h2 {
    color: yellow;
}

h3 {
    color: yellow
}

p {
    color: yellow
}